# Day Objectives
- Python Introduction
- Variables
- Operators
- String and string Funcrtions

## Python Introduction 
#### For defining python 
- Highlevel Programming Language
- Interpriter
- oop's
- multipurpose
- Dynamic

In [6]:
c=0
print(type(c))
c=5/2
print(type(c))
c="a"
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

## Variables

- we can store values tempararly

#### variable assignmnets
- assigmning single value to multiple variables
- assigning different type of values to different variables in a line

- by using second way i can perform swapping with out using temp

In [12]:
a=b=c=10
print(a)
print(b)
print(c)

10
10
10

In [13]:
name,age,rollno="apssdc",24.5,1234567
print(type(name))
print(type(age))
print(type(rollno))

<class 'str'>
<class 'float'>
<class 'int'>

In [14]:
print(name,type(name))
print(age,type(age))
print(rollno,type(rollno))

apssdc <class 'str'>
24.5 <class 'float'>
1234567 <class 'int'>

In [15]:
a,b=10,20
print(a,b)
a,b=b,a
print(a,b)

10 20
20 10

In [16]:
a,b=10,20
a=a+b
b=a-b
a=a-b
a,b

(20, 10)

##### Reading values from user
- in python we can use input() for reading values from user

In [18]:
a = input("Enter a value")
type(a)

Enter a value34

str

In [19]:
b = int(input("Enter a number:"))
print(type(b))

Enter a number:456
<class 'int'>

In [22]:
name = str(input("Enter name:"))
print("Welcome",name)

Enter name:abdul
Welcome abdul

#### Modes of Execution
- we have 2 ways
    - Interactive Mode
        - we can write something and we can see result there only
    - Scripting Mode - we can build logic in file.py

### Operators
- we can perform arithmetic and logical operations

#### types:
- AO --> +,-,*,/,%,//,**
- RO --> <,<=,>,>=,==,!=
    - Compare 2 nums
- LO - and, or, not
     - We can compare 2 conditions
- Bo - &,|,<<,>>
- AsO - +=,-=,*=,/=,%=,//=,**=,<=,>=
- MO - in, not in
- IO - is, is not

In [9]:
2+4
5-3
2*2
"abdul "*3
"*"*5
4/2
5/2
4//2
2**3

8

In [12]:
3<5
5<=5
a,b=5,6
a>b

False

In [16]:
a,b,c,d=5,8,4,9
a<b and c>d
a>b or c<d
not a>b

True

In [21]:
2&3
# """
# 2==>0010
# 3==>0011
# &
# ========
#     0010==>2
# """

# """
# 2==>0010
# 3==>0011
# |(+)
# ========
#     0011==>3
# """
2|3

2<<1
#2-->0010
# 0100
2>>1
# 2 -- > 0010
# 0001->1

1

In [22]:
a = 1
a += 100# a= a+100
a

101

In [24]:
arr = [1,2,3,4,5]
50 in arr
50 not in arr

False

In [28]:
2 is 3
'abc' is 'abc'
id(2)

140710163616608