## Day Objectives:
- Iterative Statements
- Jumping Statemets
- Python Datastructures
    - List
    - Tuple
    - Dictionaries
    - sets

### Iterative Statements 
- doing task again and again
- 2 types
    - for loop
    - while loop

In [4]:
range(10)
range(1,10)
range(1,10,2)

range(1, 10, 2)

In [7]:
'a' in 'hi ra'
'101' in '101100101'
'101100101'.count('101')

2

In [8]:
for var_name in range(10):
    print(var_name)

0
1
2
3
4
5
6
7
8
9

In [9]:
for i in range(10):
    print(i,end=",")

0,1,2,3,4,5,6,7,8,9,

In [11]:
for j in range(2,10):
    print(j,end=" ")

2 3 4 5 6 7 8 9

In [1]:
for i in range(1,10,2):
    print(i,end=" ")

1 3 5 7 9

In [2]:
for j in range(0,10,2):
    print(j,end=" ")

0 2 4 6 8

In [4]:
# Print 1 to 100 even numbers
for even in range(0,100,2):
    print(even,end=" ")

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [5]:
# print 1 to 100 odd numbers
for odd in range(1,100,2):
    print(odd,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [6]:
# print 1 to 10 numnbers in reverse order ex:10,9,8,...,1
for val in range(10,0,-1):
    print(val,end=" ")

10 9 8 7 6 5 4 3 2 1

In [8]:
# print even nums in between 1 to 100 in reverse order
for even in range(100,0,-2):
    print(even,end=" ")

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [9]:
# print odd nums in between 1 to 100 in reverse order
for odd in range(99,0,-2):
    print(odd,end=" ")

99 97 95 93 91 89 87 85 83 81 79 77 75 73 71 69 67 65 63 61 59 57 55 53 51 49 47 45 43 41 39 37 35 33 31 29 27 25 23 21 19 17 15 13 11 9 7 5 3 1

In [13]:
name = "apssdc"
print(name[0])
print(name[-1])
print(name[len(name)-1])

a
c
c

In [15]:
for pos in range(len(name)):
    print(name[pos],end=" ")

a p s s d c

In [16]:
for i in [1,2,3,4,5,6,7,8,9]:
    print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [17]:
for ch in name:
    print(ch,end=",")

a,p,s,s,d,c,

In [18]:
# Generate math table for a given number
n = int(input("Enter a number"))
for i in range(1,11):
    print(n,"x",i,"=",n*i)

Enter a number4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [20]:
n = int(input("Enter a number"))
for i in range(1,n+1):
    for j in range(1,11):
        print(i,"x",j,'=',i*j)
    print("")

Enter a number3
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [26]:
n = int(input("Enter a number"))
for i in range(1,11):
    for j in range(1,n+1):
        print(j,"x",i,"=",i*j,end="  ")
    print("")

Enter a number4
1 x 1 = 1  2 x 1 = 2  3 x 1 = 3  4 x 1 = 4
1 x 2 = 2  2 x 2 = 4  3 x 2 = 6  4 x 2 = 8
1 x 3 = 3  2 x 3 = 6  3 x 3 = 9  4 x 3 = 12
1 x 4 = 4  2 x 4 = 8  3 x 4 = 12  4 x 4 = 16
1 x 5 = 5  2 x 5 = 10  3 x 5 = 15  4 x 5 = 20
1 x 6 = 6  2 x 6 = 12  3 x 6 = 18  4 x 6 = 24
1 x 7 = 7  2 x 7 = 14  3 x 7 = 21  4 x 7 = 28
1 x 8 = 8  2 x 8 = 16  3 x 8 = 24  4 x 8 = 32
1 x 9 = 9  2 x 9 = 18  3 x 9 = 27  4 x 9 = 36
1 x 10 = 10  2 x 10 = 20  3 x 10 = 30  4 x 10 = 40

In [27]:
# print *'s without using nested loops
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [28]:
# Biggest of 3 numbers using functions

# smallest of 3 nums using functions

# print even numbers in a given range using functions

# print odd numbers in a given range using functions

# Build logic to find given numbers is a prime or not 
# using function

# Print prime numbers in between 1 to 100 using fucntion

# print prime numbers count in between 1 to 100 using 
# function

# print sum and average of prime numbers in between 1 to 100 using 
# function

# print prime numbers in a given range using functions

# print sum and average of primes in agiven range.

# print factorial of a given number using function
 
# print factorial of a numbers in between range using function

# find a given string is palindrome or not using functions.

In [29]:
def fact(n):
    f = 1
    for i in range(1,n+1):
        f = f * i
    return f

In [30]:
num = int(input("Enter a number:"))
print(fact(num))

Enter a number:5
120

In [32]:
start_val = int(input("Enter a starting number:"))
end_val = int(input("Enter a ending value:"))
for i in range(start_val,end_val+1):
    print(fact(i))

Enter a starting number:5
Enter a ending value:10
120
720
5040
40320
362880
3628800

### Jumping Statemets are
- break
- continue

In [33]:
for i in range(1,100):
    if i==50:
        break
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [37]:
for i in range(1,100):
    if i%5!=0:
        continue
    print(i,end=" ")

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95

In [38]:
for i in range(1,100):
    if i%5==0:
        print(i,end=" ")
    continue

5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95

### Python Datastructures

### List
- it is data strucuture
- it is a mutable
- for defining list we are using [ and ]
- and also it ia Data type

In [41]:
li = [123,234.98,'abdul']
print(type(li),li)

<class 'list'> [123, 234.98, 'abdul']

In [47]:
print(li[0])
print(li[2])
print(len(li))
print(li[:1])
print(li[1:])
li[::-1]

123
abdul
3
[123]
[234.98, 'abdul']

['abdul', 234.98, 123]

In [48]:
l1 = [1,3,4,5]
print(li,l1)

[123, 234.98, 'abdul'] [1, 3, 4, 5]

In [49]:
li+l1

[123, 234.98, 'abdul', 1, 3, 4, 5]

In [50]:
dir(li)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [51]:
li

[123, 234.98, 'abdul']

In [52]:
li.append(50)

In [53]:
li

[123, 234.98, 'abdul', 50]

In [54]:
li.insert(2,45)

In [55]:
li

[123, 234.98, 45, 'abdul', 50]

In [56]:
li.pop()

50

In [58]:
li.remove('abdul')

In [59]:
li

[123, 234.98, 45]

In [60]:
l1.clear()

In [61]:
l1

[]

In [62]:
del l1

In [64]:
li

[123, 234.98, 45]

In [65]:
li1 = li

In [66]:
li1,li

([123, 234.98, 45], [123, 234.98, 45])

In [67]:
li1.append(78)

In [68]:
li1,li

([123, 234.98, 45, 78], [123, 234.98, 45, 78])

In [69]:
li.remove(234.98)

In [70]:
li,li1

([123, 45, 78], [123, 45, 78])

In [72]:
li2= li.copy()

In [73]:
li2,li

([123, 45, 78], [123, 45, 78])

In [76]:
li2.append(34)

In [77]:
li2,li

([123, 45, 78, 34], [123, 45, 78])

In [78]:
li.count(45)

1

In [79]:
li.append(li2)

In [80]:
li

[123, 45, 78, [123, 45, 78, 34]]

In [81]:
li[3]

[123, 45, 78, 34]

In [83]:
li1 = li.copy()

In [84]:
li1,li

([123, 45, 78, [123, 45, 78, 34]], [123, 45, 78, [123, 45, 78, 34]])

In [87]:
li

[123, 45, 78, [123, 45, 78, 34]]

In [88]:
li[3][1]

45

In [90]:
li.pop()

[123, 45, 78, 34]

In [91]:
li.sort()

In [92]:
li

[45, 78, 123]

In [93]:
li.reverse()

In [94]:
li

[123, 78, 45]

In [95]:
max(li)

123

In [96]:
min(li)

45

In [97]:
sum(li)

246

In [98]:
5
1 2 3 4 5

SyntaxError: invalid syntax (<ipython-input-98-71c878e3c1de>, line 2)

In [102]:
n  = int(input())
 
print(sum(list(map(int,input().split()))))

5
1 2 343 5 6
357

In [1]:
# Dynamic list generation
li = [] # li=list()
n = int(input("Enyter the size of list:"))
for i in range(n):
    val = int(input("Enter value:"))
    li.append(val)
print(li)
print("Max value is:",max(li))
print("Min value is :",min(li))
print("Sum is:",sum(li))
print("Average is :",sum(li)/len(li))

Enyter the size of list:5
Enter value:1
Enter value:2
Enter value:3
Enter value:4
Enter value:5
[1, 2, 3, 4, 5]
Max value is: 5
Min value is : 1
Sum is: 15
Average is : 3.0

## Tuples:
- it is a data structure
- it is data type
- it is immutable
- ()

In [2]:
t = (1231,473.98,'sdc')

In [3]:
t[::-1]

('sdc', 473.98, 1231)

In [4]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [5]:
t.index('sdc')

2

In [6]:
list(t)

[1231, 473.98, 'sdc']

## Sets
- it is data structure
- it is adata type
- {}

In [7]:
s = {1,2,3,1,2,3,4,5,5,4}
print(s)

{1, 2, 3, 4, 5}

- input ==> Enter a string:abdul anil ajay vinay sunil siva
- output ==> print names starts with 'a'
- input ==> Enter a string:abdul anil ajay vinay sunil siva
- output ==> print names ends with 'l'
- input ==> Enter a string:abdul anil ajay abdul sunil ajay
- output ==> print frequency of each word
- input ==> Enter a string : 'abdul123' or '123abdul' or '12abdul34'
- output ==> print count and sum of digits
- input==> Enter a string: abdul 34 26 sunil siva 45
- output ==> print sum of digits