In [5]:
# 3. input ==> Enter a string:abdul anil ajay abdul sunil ajay
#   output ==> print frequency of each word

names  = input()
names = names.split()
for name in set(names):
    print(name,names.count(name))

abdul anil raja rani abdul
abdul 2
anil 1
rani 1
raja 1

### Day Objectives
- Dictionaries
 - it is data structure
 - data will be store in pair format i.e, key:value
 - for defining empty dictionary we can use {} or dict()
 - key => max string
 - values may be string,integer,list,tuple,set,dictionary

In [6]:
stu = {'name':'abdul','rollno':123,'branch':'cse'}
stu

{'name': 'abdul', 'rollno': 123, 'branch': 'cse'}

In [7]:
stu['name']

'abdul'

In [14]:
stu['rollno'] = 525

In [15]:
stu

{'name': 'abdul', 'rollno': 525, 'branch': 'cse'}

In [16]:
stu['age'] = 23.5

In [17]:
stu

{'name': 'abdul', 'rollno': 525, 'branch': 'cse', 'age': 23.5}

In [18]:
dir(stu)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [19]:
stu.keys()

dict_keys(['name', 'rollno', 'branch', 'age'])

In [20]:
stu.items()

dict_items([('name', 'abdul'), ('rollno', 525), ('branch', 'cse'), ('age', 23.5)])

In [21]:
stu.popitem()

('age', 23.5)

In [23]:
stu.pop('branch')

'cse'

In [24]:
marks = {}.fromkeys(['Java','python','c','c++'],0)

In [25]:
marks

{'Java': 0, 'python': 0, 'c': 0, 'c++': 0}

In [26]:
marks.setdefault('c',67)

0

In [27]:
marks.setdefault('.net',67)

67

In [28]:
marks

{'Java': 0, 'python': 0, 'c': 0, 'c++': 0, '.net': 67}

In [30]:
d = {}
names = input().split()
for name in set(names):
    d[name] = names.count(name)
d

abdul abdulla anil sunil siva abdul siva sunil

{'abdul': 2, 'sunil': 2, 'siva': 2, 'anil': 1, 'abdulla': 1}

In [33]:
d1 = dict()
names = input().split()
for indpos,value in enumerate(names):
    #print(indpos,value)
    d1[indpos] = value
d1

abdul abdulla anil sunil siva abdul siva sunil

{0: 'abdul',
 1: 'abdulla',
 2: 'anil',
 3: 'sunil',
 4: 'siva',
 5: 'abdul',
 6: 'siva',
 7: 'sunil'}

In [36]:
s  =input()
sm = 0
for ch in s:
    if ch.isdigit():
        sm += int(ch)
sm

2143kdjfh84756

40

In [37]:
s  =input().split()
sm = 0
for ch in s:
    if ch.isdigit():
        sm += int(ch)
sm

abdul 40 50 10 raju

100

In [39]:
## Assignment1
# input: Enter range of keys or valus:3
# generate keys and names list with 3 value
# make dictionary with values of keys and values positions.

keys = list()
values = []
d = {}
n = int(input("Enter keys or values range:"))
for i in range(n):
    key = input("enter key:")
    keys.append(key)
    value = input("Enter a value:")
    values.append(value)
for i in range(len(keys)):
    d[keys[i]] = values[i]
d

Enter keys or values range:2
enter key:rollno
Enter a value:456
enter key:branch
Enter a value:it

{'rollno': '456', 'branch': 'it'}

In [40]:
stuinfo = {'names':['abdulla','sunil','siva','mahesh'],
          'rollno':[501,502,503,504]}
stuinfo

{'names': ['abdulla', 'sunil', 'siva', 'mahesh'],
 'rollno': [501, 502, 503, 504]}

In [43]:
stuinfo['names'][1:]

['sunil', 'siva', 'mahesh']

In [44]:
names = []
mbnos = []
sinfo = {}
words = input().split()
for word in words:
    if word.isdigit():
        mbnos.append(word)
    else:
        names.append(word)

sinfo['names']=names
sinfo['mbnos']=mbnos
sinfo

abdul noor 654654 65465

{'names': ['abdul', 'noor'], 'mbnos': ['654654', '65465']}

In [ ]:
# task
# input: Enter a string: i am raja from apssdc and 
# aLSO WORKING IN KSRM but i am belongs to apssdc
# output: print words in sorting order with out duplicates